html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.bdr-serif{font-family:serif}.bdr-sans-serif{font-family:sans-serif}.bdr-cursive{font-family:cursive}.bdr-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.bdr-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.bdr-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.bdr-table,.bdr-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.bdr-table-all{border:1px solid #ccc}
.bdr-bordered tr,.bdr-table-all tr{border-bottom:1px solid #ddd}.bdr-striped tbody tr:nth-child(even){background-color:solid black}
.bdr-table-all tr:nth-child(odd){background-color:#fff}.bdr-table-all tr:nth-child(even){background-color:#f1f1f1}
.bdr-hoverable tbody tr:hover,.bdr-ul.bdr-hoverable li:hover{background-color:#ccc}.bdr-centered tr th,.bdr-centered tr td{text-align:center}
.bdr-table td,.bdr-table th,.bdr-table-all td,.bdr-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.bdr-table th:first-child,.bdr-table td:first-child,.bdr-table-all th:first-child,.bdr-table-all td:first-child{padding-left:16px}
.bdr-btn,.bdr-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.bdr-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.bdr-btn,.bdr-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.bdr-disabled,.bdr-btn:disabled,.bdr-button:disabled{cursor:not-allowed;opacity:0.3}.bdr-disabled *,:disabled *{pointer-events:none}
.bdr-btn.bdr-disabled:hover,.bdr-btn:disabled:hover{box-shadow:none}
.bdr-badge,.bdr-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.bdr-badge{border-radius:50%}
.bdr-ul{list-style-type:none;padding:0;margin:0}.bdr-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.bdr-ul li:last-child{border-bottom:none}
.bdr-tooltip,.bdr-display-container{position:relative}.bdr-tooltip .bdr-text{display:none}.bdr-tooltip:hover .bdr-text{display:inline-block}
.bdr-ripple:active{opacity:0.5}.bdr-ripple{transition:opacity 0s}
.bdr-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.bdr-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.bdr-dropdown-click,.bdr-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.bdr-dropdown-hover:hover .bdr-dropdown-content{display:block}
.bdr-dropdown-hover:first-child,.bdr-dropdown-click:hover{background-color:#ccc;color:#000}
.bdr-dropdown-hover:hover > .bdr-button:first-child,.bdr-dropdown-click:hover > .bdr-button:first-child{background-color:#ccc;color:#000}
.bdr-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.bdr-check,.bdr-radio{width:24px;height:24px;position:relative;top:6px}
.bdr-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.bdr-bar-block .bdr-dropdown-hover,.bdr-bar-block .bdr-dropdown-click{width:100%}
.bdr-bar-block .bdr-dropdown-hover .bdr-dropdown-content,.bdr-bar-block .bdr-dropdown-click .bdr-dropdown-content{min-width:100%}
.bdr-bar-block .bdr-dropdown-hover .bdr-button,.bdr-bar-block .bdr-dropdown-click .bdr-button{width:100%;text-align:left;padding:8px 16px}
.bdr-main,#main{transition:margin-left .4s}
.bdr-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.bdr-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.bdr-bar{width:100%;overflow:hidden}.bdr-center .bdr-bar{display:inline-block;width:auto}
.bdr-bar .bdr-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.bdr-bar .bdr-dropdown-hover,.bdr-bar .bdr-dropdown-click{position:static;float:left}
.bdr-bar .bdr-button{white-space:normal}
.bdr-bar-block .bdr-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.bdr-bar-block.bdr-center .bdr-bar-item{text-align:center}.bdr-block{display:block;width:100%}
.bdr-responsive{display:block;overflow-x:auto}
.bdr-container:after,.bdr-container:before,.bdr-panel:after,.bdr-panel:before,.bdr-row:after,.bdr-row:before,.bdr-row-padding:after,.bdr-row-padding:before,
.bdr-cell-row:before,.bdr-cell-row:after,.bdr-clear:after,.bdr-clear:before,.bdr-bar:before,.bdr-bar:after{content:"";display:table;clear:both}
.bdr-col,.bdr-half,.bdr-third,.bdr-twothird,.bdr-threequarter,.bdr-quarter{float:left;width:100%}
.bdr-col.s1{width:8.33333%}.bdr-col.s2{width:16.66666%}.bdr-col.s3{width:24.99999%}.bdr-col.s4{width:33.33333%}
.bdr-col.s5{width:41.66666%}.bdr-col.s6{width:49.99999%}.bdr-col.s7{width:58.33333%}.bdr-col.s8{width:66.66666%}
.bdr-col.s9{width:74.99999%}.bdr-col.s10{width:83.33333%}.bdr-col.s11{width:91.66666%}.bdr-col.s12{width:99.99999%}
@media (min-width:601px){.bdr-col.m1{width:8.33333%}.bdr-col.m2{width:16.66666%}.bdr-col.m3,.bdr-quarter{width:24.99999%}.bdr-col.m4,.bdr-third{width:33.33333%}
.bdr-col.m5{width:41.66666%}.bdr-col.m6,.bdr-half{width:49.99999%}.bdr-col.m7{width:58.33333%}.bdr-col.m8,.bdr-twothird{width:66.66666%}
.bdr-col.m9,.bdr-threequarter{width:74.99999%}.bdr-col.m10{width:83.33333%}.bdr-col.m11{width:91.66666%}.bdr-col.m12{width:99.99999%}}
@media (min-width:993px){.bdr-col.l1{width:8.33333%}.bdr-col.l2{width:16.66666%}.bdr-col.l3{width:24.99999%}.bdr-col.l4{width:33.33333%}
.bdr-col.l5{width:41.66666%}.bdr-col.l6{width:49.99999%}.bdr-col.l7{width:58.33333%}.bdr-col.l8{width:66.66666%}
.bdr-col.l9{width:74.99999%}.bdr-col.l10{width:83.33333%}.bdr-col.l11{width:91.66666%}.bdr-col.l12{width:99.99999%}}
.bdr-rest{overflow:hidden}.bdr-stretch{margin-left:-16px;margin-right:-16px}
.bdr-content,.bdr-auto{margin-left:auto;margin-right:auto}.bdr-content{max-width:980px}.bdr-auto{max-width:1140px}
.bdr-cell-row{display:table;width:100%}.bdr-cell{display:table-cell}
.bdr-cell-top{vertical-align:top}.bdr-cell-middle{vertical-align:middle}.bdr-cell-bottom{vertical-align:bottom}
.bdr-hide{display:none!important}.bdr-show-block,.bdr-show{display:block!important}.bdr-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.bdr-auto{max-width:95%}}
@media (max-width:600px){.bdr-modal-content{margin:0 10px;width:auto!important}.bdr-modal{padding-top:30px}
.bdr-dropdown-hover.bdr-mobile .bdr-dropdown-content,.bdr-dropdown-click.bdr-mobile .bdr-dropdown-content{position:relative}	
.bdr-hide-small{display:none!important}.bdr-mobile{display:block;width:100%!important}.bdr-bar-item.bdr-mobile,.bdr-dropdown-hover.bdr-mobile,.bdr-dropdown-click.bdr-mobile{text-align:center}
.bdr-dropdown-hover.bdr-mobile,.bdr-dropdown-hover.bdr-mobile .bdr-btn,.bdr-dropdown-hover.bdr-mobile .bdr-button,.bdr-dropdown-click.bdr-mobile,.bdr-dropdown-click.bdr-mobile .bdr-btn,.bdr-dropdown-click.bdr-mobile .bdr-button{width:100%}}
@media (max-width:768px){.bdr-modal-content{width:500px}.bdr-modal{padding-top:50px}}
@media (min-width:993px){.bdr-modal-content{width:900px}.bdr-hide-large{display:none!important}.bdr-sidebar.bdr-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.bdr-hide-medium{display:none!important}}
@media (max-width:992px){.bdr-sidebar.bdr-collapse{display:none}.bdr-main{margin-left:0!important;margin-right:0!important}.bdr-auto{max-width:100%}}
.bdr-top,.bdr-bottom{position:fixed;width:100%;z-index:1}.bdr-top{top:0}.bdr-bottom{bottom:0}
.bdr-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.bdr-display-topleft{position:absolute;left:0;top:0}.bdr-display-topright{position:absolute;right:0;top:0}
.bdr-display-bottomleft{position:absolute;left:0;bottom:0}.bdr-display-bottomright{position:absolute;right:0;bottom:0}
.bdr-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.bdr-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.bdr-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.bdr-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.bdr-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.bdr-display-container:hover .bdr-display-hover{display:block}.bdr-display-container:hover span.bdr-display-hover{display:inline-block}.bdr-display-hover{display:none}
.bdr-display-position{position:absolute}
.bdr-circle{border-radius:50%}
.bdr-round-small{border-radius:2px}.bdr-round,.bdr-round-medium{border-radius:4px}.bdr-round-large{border-radius:8px}.bdr-round-xlarge{border-radius:16px}.bdr-round-xxlarge{border-radius:32px}
.bdr-row-padding,.bdr-row-padding>.bdr-half,.bdr-row-padding>.bdr-third,.bdr-row-padding>.bdr-twothird,.bdr-row-padding>.bdr-threequarter,.bdr-row-padding>.bdr-quarter,.bdr-row-padding>.bdr-col{padding:0 8px}
.bdr-container,.bdr-panel{padding:0.01em 16px}.bdr-panel{margin-top:16px;margin-bottom:16px}
.bdr-code,.bdr-codespan{font-family:Consolas,"courier new";font-size:16px}
.bdr-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.bdr-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.bdr-card,.bdr-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.bdr-card-4,.bdr-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.bdr-spin{animation:bdr-spin 2s infinite linear}@keyframes bdr-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.bdr-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.bdr-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.bdr-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.bdr-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.bdr-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.bdr-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.bdr-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bdr-animate-input{transition:width 0.4s ease-in-out}.bdr-animate-input:focus{width:100%!important}
.bdr-opacity,.bdr-hover-opacity:hover{opacity:0.60}.bdr-opacity-off,.bdr-hover-opacity-off:hover{opacity:1}
.bdr-opacity-max{opacity:0.25}.bdr-opacity-min{opacity:0.75}
.bdr-greyscale-max,.bdr-grayscale-max,.bdr-hover-greyscale:hover,.bdr-hover-grayscale:hover{filter:grayscale(100%)}
.bdr-greyscale,.bdr-grayscale{filter:grayscale(75%)}.bdr-greyscale-min,.bdr-grayscale-min{filter:grayscale(50%)}
.bdr-sepia{filter:sepia(75%)}.bdr-sepia-max,.bdr-hover-sepia:hover{filter:sepia(100%)}.bdr-sepia-min{filter:sepia(50%)}
.bdr-tiny{font-size:10px!important}.bdr-small{font-size:12px!important}.bdr-medium{font-size:15px!important}.bdr-large{font-size:18px!important}
.bdr-xlarge{font-size:24px!important}.bdr-xxlarge{font-size:36px!important}.bdr-xxxlarge{font-size:48px!important}.bdr-jumbo{font-size:64px!important}
.bdr-left-align{text-align:left!important}.bdr-right-align{text-align:right!important}.bdr-justify{text-align:justify!important}.bdr-center{text-align:center!important}
.bdr-border-0{border:0!important}.bdr-border{border:1px solid #ccc!important}
.bdr-border-top{border-top:1px solid #ccc!important}.bdr-border-bottom{border-bottom:1px solid #ccc!important}
.bdr-border-left{border-left:1px solid #ccc!important}.bdr-border-right{border-right:1px solid #ccc!important}
.bdr-topbar{border-top:6px solid #ccc!important}.bdr-bottombar{border-bottom:6px solid #ccc!important}
.bdr-leftbar{border-left:6px solid #ccc!important}.bdr-rightbar{border-right:6px solid #ccc!important}
.bdr-section,.bdr-code{margin-top:16px!important;margin-bottom:16px!important}
.bdr-margin{margin:16px!important}.bdr-margin-top{margin-top:16px!important}.bdr-margin-bottom{margin-bottom:16px!important}
.bdr-margin-left{margin-left:16px!important}.bdr-margin-right{margin-right:16px!important}
.bdr-padding-small{padding:4px 8px!important}.bdr-padding{padding:8px 16px!important}.bdr-padding-large{padding:12px 24px!important}
.bdr-padding-16{padding-top:16px!important;padding-bottom:16px!important}.bdr-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.bdr-padding-32{padding-top:32px!important;padding-bottom:32px!important}.bdr-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.bdr-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.bdr-padding-top-64{padding-top:64px!important}.bdr-padding-top-48{padding-top:48px!important}
.bdr-padding-top-32{padding-top:32px!important}.bdr-padding-top-24{padding-top:24px!important}
.bdr-left{float:left!important}.bdr-right{float:right!important}
.bdr-button:hover{color:#000!important;background-color:#ccc!important}
.bdr-transparent,.bdr-hover-none:hover{background-color:transparent!important}
.bdr-hover-none:hover{box-shadow:none!important}
/* Colors */
.bdr-amber,.bdr-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.bdr-aqua,.bdr-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.bdr-blue,.bdr-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.bdr-light-blue,.bdr-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.bdr-brown,.bdr-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.bdr-cyan,.bdr-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.bdr-blue-grey,.bdr-hover-blue-grey:hover,.bdr-blue-gray,.bdr-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.bdr-green,.bdr-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.bdr-light-green,.bdr-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.bdr-indigo,.bdr-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.bdr-khaki,.bdr-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.bdr-lime,.bdr-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.bdr-orange,.bdr-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.bdr-deep-orange,.bdr-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.bdr-pink,.bdr-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.bdr-purple,.bdr-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.bdr-deep-purple,.bdr-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.bdr-red,.bdr-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.bdr-sand,.bdr-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.bdr-teal,.bdr-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.bdr-yellow,.bdr-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.bdr-white,.bdr-hover-white:hover{color:#000!important;background-color:#fff!important}
.bdr-black,.bdr-hover-black:hover{color:#fff!important;background-color:#000!important}
.bdr-grey,.bdr-hover-grey:hover,.bdr-gray,.bdr-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.bdr-light-grey,.bdr-hover-light-grey:hover,.bdr-light-gray,.bdr-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.bdr-dark-grey,.bdr-hover-dark-grey:hover,.bdr-dark-gray,.bdr-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.bdr-pale-red,.bdr-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.bdr-pale-green,.bdr-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.bdr-pale-yellow,.bdr-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.bdr-pale-blue,.bdr-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.bdr-text-amber,.bdr-hover-text-amber:hover{color:#ffc107!important}
.bdr-text-aqua,.bdr-hover-text-aqua:hover{color:#00ffff!important}
.bdr-text-blue,.bdr-hover-text-blue:hover{color:#2196F3!important}
.bdr-text-light-blue,.bdr-hover-text-light-blue:hover{color:#87CEEB!important}
.bdr-text-brown,.bdr-hover-text-brown:hover{color:#795548!important}
.bdr-text-cyan,.bdr-hover-text-cyan:hover{color:#00bcd4!important}
.bdr-text-blue-grey,.bdr-hover-text-blue-grey:hover,.bdr-text-blue-gray,.bdr-hover-text-blue-gray:hover{color:#607d8b!important}
.bdr-text-green,.bdr-hover-text-green:hover{color:#4CAF50!important}
.bdr-text-light-green,.bdr-hover-text-light-green:hover{color:#8bc34a!important}
.bdr-text-indigo,.bdr-hover-text-indigo:hover{color:#3f51b5!important}
.bdr-text-khaki,.bdr-hover-text-khaki:hover{color:#b4aa50!important}
.bdr-text-lime,.bdr-hover-text-lime:hover{color:#cddc39!important}
.bdr-text-orange,.bdr-hover-text-orange:hover{color:#ff9800!important}
.bdr-text-deep-orange,.bdr-hover-text-deep-orange:hover{color:#ff5722!important}
.bdr-text-pink,.bdr-hover-text-pink:hover{color:#e91e63!important}
.bdr-text-purple,.bdr-hover-text-purple:hover{color:#9c27b0!important}
.bdr-text-deep-purple,.bdr-hover-text-deep-purple:hover{color:#673ab7!important}
.bdr-text-red,.bdr-hover-text-red:hover{color:#f44336!important}
.bdr-text-sand,.bdr-hover-text-sand:hover{color:#fdf5e6!important}
.bdr-text-teal,.bdr-hover-text-teal:hover{color:#009688!important}
.bdr-text-yellow,.bdr-hover-text-yellow:hover{color:#d2be0e!important}
.bdr-text-white,.bdr-hover-text-white:hover{color:#fff!important}
.bdr-text-black,.bdr-hover-text-black:hover{color:#000!important}
.bdr-text-grey,.bdr-hover-text-grey:hover,.bdr-text-gray,.bdr-hover-text-gray:hover{color:#757575!important}
.bdr-text-light-grey,.bdr-hover-text-light-grey:hover,.bdr-text-light-gray,.bdr-hover-text-light-gray:hover{color:#f1f1f1!important}
.bdr-text-dark-grey,.bdr-hover-text-dark-grey:hover,.bdr-text-dark-gray,.bdr-hover-text-dark-gray:hover{color:#3a3a3a!important}
.bdr-border-amber,.bdr-hover-border-amber:hover{border-color:#ffc107!important}
.bdr-border-aqua,.bdr-hover-border-aqua:hover{border-color:#00ffff!important}
.bdr-border-blue,.bdr-hover-border-blue:hover{border-color:#2196F3!important}
.bdr-border-light-blue,.bdr-hover-border-light-blue:hover{border-color:#87CEEB!important}
.bdr-border-brown,.bdr-hover-border-brown:hover{border-color:#795548!important}
.bdr-border-cyan,.bdr-hover-border-cyan:hover{border-color:#00bcd4!important}
.bdr-border-blue-grey,.bdr-hover-border-blue-grey:hover,.bdr-border-blue-gray,.bdr-hover-border-blue-gray:hover{border-color:#607d8b!important}
.bdr-border-green,.bdr-hover-border-green:hover{border-color:#4CAF50!important}
.bdr-border-light-green,.bdr-hover-border-light-green:hover{border-color:#8bc34a!important}
.bdr-border-indigo,.bdr-hover-border-indigo:hover{border-color:#3f51b5!important}
.bdr-border-khaki,.bdr-hover-border-khaki:hover{border-color:#f0e68c!important}
.bdr-border-lime,.bdr-hover-border-lime:hover{border-color:#cddc39!important}
.bdr-border-orange,.bdr-hover-border-orange:hover{border-color:#ff9800!important}
.bdr-border-deep-orange,.bdr-hover-border-deep-orange:hover{border-color:#ff5722!important}
.bdr-border-pink,.bdr-hover-border-pink:hover{border-color:#e91e63!important}
.bdr-border-purple,.bdr-hover-border-purple:hover{border-color:#9c27b0!important}
.bdr-border-deep-purple,.bdr-hover-border-deep-purple:hover{border-color:#673ab7!important}
.bdr-border-red,.bdr-hover-border-red:hover{border-color:#f44336!important}
.bdr-border-sand,.bdr-hover-border-sand:hover{border-color:#fdf5e6!important}
.bdr-border-teal,.bdr-hover-border-teal:hover{border-color:#009688!important}
.bdr-border-yellow,.bdr-hover-border-yellow:hover{border-color:#ffeb3b!important}
.bdr-border-white,.bdr-hover-border-white:hover{border-color:#fff!important}
.bdr-border-black,.bdr-hover-border-black:hover{border-color:#000!important}
.bdr-border-grey,.bdr-hover-border-grey:hover,.bdr-border-gray,.bdr-hover-border-gray:hover{border-color:#9e9e9e!important}
.bdr-border-light-grey,.bdr-hover-border-light-grey:hover,.bdr-border-light-gray,.bdr-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.bdr-border-dark-grey,.bdr-hover-border-dark-grey:hover,.bdr-border-dark-gray,.bdr-hover-border-dark-gray:hover{border-color:#616161!important}
.bdr-border-pale-red,.bdr-hover-border-pale-red:hover{border-color:#ffe7e7!important}.bdr-border-pale-green,.bdr-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.bdr-border-pale-yellow,.bdr-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.bdr-border-pale-blue,.bdr-hover-border-pale-blue:hover{border-color:#e7ffff!important}